<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Peserta PKL</title>

  
    <!-- CSS FILES -->
    
    <link rel="stylesheet" type="text/css" href="/css2/dontouch.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/../../css/bootstrap.min.css" rel="stylesheet" />

    <link href="/../../css/bootstrap-icons.css" rel="stylesheet" />

    <link href="/../../css/templatemo-festava-live.css" rel="stylesheet" />

    <style>
      /* CSS untuk halaman */
      body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          background-image: url("../images/back.png");
      }

      /* CSS untuk kontainer tabel */
      .table-container {
          max-width: 80%; /* Sesuaikan lebar sesuai keinginan Anda */
          margin: 0 auto;
          padding: 20px; /* Memberikan ruang kosong di sisi kiri dan kanan tabel */
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: tambahkan bayangan pada tabel */
          background-color: #fff; /* Optional: tambahkan latar belakang pada tabel */
      }

      /* CSS untuk tabel */
      table {
          width: 100%;
          border-collapse: collapse;
      }

      /* CSS untuk sel header */
      th {
          background-color: #f2f2f2; /* Warna latar belakang header */
          font-weight: bold;
      }

      /* CSS untuk sel data */
      td {
          text-align: left;
          padding: 10px;
      }
  </style>

</head>
<body>
    <!-- <main> -->

        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  
        
        <!-- UBAH -->
        
        
          <!-- Boxicons CSS -->
          <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        
        <body class>
          <!-- navbar -->
  
          <header>
            <nav class="navbar">
              <div class="logo_item">
                <i class="bx bx-menu" id="sidebarOpen"></i>
                <!-- <img src="/../../images/logo.png" alt=""></i> -->
                PENDAFTARAN PKL
                
              </div>
        
              <!-- <div class="search_bar">
                <input type="text" placeholder="Search" />
              </div> -->
        
              <div class="navbar_content">
                <!-- <i class="bi bi-grid"></i> -->
                <i class='bx bx-sun' id="darkLight"></i>
                <!-- <i class='bx bx-bell' ></i>
                <img src="images/profile.jpg" alt="" class="profile" /> -->
              </div>
            </nav>
          </header>

        <!-- sidebar -->
       
        <nav class="sidebar">
        
          <div class="menu_content">
            <ul class="menu_items">
              
              <div class="menu_title menu_menu"></div>
              <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
              <!-- start -->
              <li class="item">
                <div href="#" class="nav_link submenu_item">
                  <span class="navlink_icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span class="navlink">Beranda</span>
                  <i class="bx bx-chevron-right arrow-left"></i>
                </div>
    
                <ul class="menu_items submenu">
                  <!-- <a href="/login" class="nav_link sublink">Login</a> -->
                  <a href="/home_admin" class="nav_link sublink">Beranda</a>
                  <a href="home_admin#section_2" class="nav_link sublink">Tentang</a>
                  <a href="home_admin#section_3" class="nav_link sublink">Syarat & Alur</a>
                </ul>
              </li>
    
            <ul class="menu_items">
              <div class="menu_title menu_editor"></div>
              <!-- duplicate these li tag if you want to add or remove navlink only -->

              <li class="item">
                <a href="/data_peserta" class="nav_link">
                  <span class="navlink_icon">
                    <i class="far fa-id-card"></i>
                  </span>
                  <span class="navlink">Data Peserta PKL</span>
                </a>
              </li>
                    
            <li class="item">
              <a href="/register_admin" class="nav_link">
                <span class="navlink_icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span class="navlink">Daftarkan Akun</span>
              </a>
            </li>

            <div class="menu_title menu_acc"></div>
            <li class="item">
              <a href="/profile_admin" class="nav_link">
                <span class="navlink_icon">
                  <i class="fas fa-user-circle"></i>
                </span>
                <span class="navlink">Akun Saya</span>
              </a>
            </li>

              <li class="item">
                <a href="/logout" onclick="return confirm('Apakah anda yakin ingin keluar?')" class="nav_link">
                  <span class="navlink_icon">
                    <i class="fas fa-user-times"></i>
                  </span>
                  <span class="navlink">Keluar</span>
                </a>
              </li>
    
            <!-- Sidebar Open / Close -->
            <div class="bottom_content">
              <div class="bottom expand_sidebar">
                <span> Expand</span>
                <i class='bx bx-log-in' ></i>
              </div>
              <div class="bottom collapse_sidebar">
                <span> Collapse</span>
                <i class='bx bx-log-out'></i>
              </div>
            </div>
          </div>
        </nav>
          <!-- JavaScript -->
          <script src="/js/script.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
        </script>
        </head>
        </body>
        <main>
        <center>  <h2 class="text-center mb-4">Data Peserta PKL</h2></center>
          <br>
          <br>
<section class="table-container"
        <div class="card">


          <form action="/data_peserta" method="GET" class="text mb-4">
            <div class="col-lg-6 col-md-6 col-12"></div>
            <label for="status"><font color="#1783d3"><strong>Filter by Status PKL : </strong></label>
            <select id="status" name="status">
              {{range .StatusOptions}}
                  <option value="{{.Value}}" {{if eq .Value $.StatusFilter}}selected{{end}}>{{.Label}}</option>
              {{end}}
          </select>
            <!-- <select id="status-filter" name="status">
                <option value="all">All</option>
                <option value="0">Tidak Aktif</option>
                <option value="1">Aktif</option>
                <option value="2">Selesai</option>
            </select> -->
            <!-- <input type="submit" value="Filter"> -->
            <button type="submit" value="submit" class="btn btn-outline-primary"><strong>Submit</strong></button>
        </form>
        <br>
        <br>
          
          <div class="table-responsive text-nowrap">
              <table class="table">
                  <thead>
                      <tr class="text-nowrap">
                          <!-- <th>No.</th> -->
                          <th>NIM/NISN</th>
                          <th>Username</th>
                          <!-- <th>Password</th> -->
                          <th>Nama</th>
                          <th>Asal Instansi</th>
                          <th>Mulai PKL</th>
                          <th>Selesai PKL</th>
                          <!-- <th>Role</th> -->
                          <th>Status PKL</th>
                          <th>Respon Surat</th>
                          <th>Surat</th>
                          <th>Sertifikat</th>
                          <th>Serahkan Sertifikat</th>
                          <th>Ubah & Hapus data</th> <!-- Tombol Edit dan Hapus -->
                      </tr>
                  </thead>
                  <tbody>
                      {{range .DtEmp}}
                      <tr>

                          <td>{{.Nim}}</td>
                          <td>{{.Username}}</td>
 
                          <td>{{.Nama}}</td>
                          <td>{{.AsalInstansi}}</td>
                          <td>{{.MulaiPkl.Format "2006-01-02"}}</td>
                          <td>{{.SelesaiPkl.Format "2006-01-02"}}</td>

                          {{if eq .Status 0}}
                          <td>Tidak Aktif</td>
                          {{else if eq .Status 1}}
                          <td>Aktif</td>
                          {{else if eq .Status 2}}
                          <td>Selesai</td>
                          {{end}}

                          {{if eq .Respon 1}}
                          <td>Pending</td>
                          {{else if eq .Respon 2}}
                          <td>Accepted</td>
                          {{else if eq .Respon 3}}
                          <td>Rejected</td>
                          {{end}}
     
                          <td>
                            {{ if .UploadFile }}
                            <p><a href="{{ .UploadFile }}">Lihat surat</a></p>
                            {{ else }}
                            <p>Belum ada surat</p>
                            {{ end }}
                          </td>

                          <td>
                            {{ if .Sertifikat }}
                            <p><a href="{{ .Sertifikat }} ">Lihat Sertifikat</a></p>
                            {{ else }}
                            <p>belum ada sertifikat</p>
                            {{ end }}
                          </td> 

                          

                          <td>
                            <a href="/upload_sertif?username={{.Username}}" class="btn btn-info"><font color="white">Kirim Sertifikat</a>
                          </td>
                          

                          <td> 
                            {{if eq .Role 1}}
                              <a href="/edit_admin?username={{.Username}}" class="btn btn-primary">Ubah</a>
                            {{else}}
                              <a href="/edit_user?username={{.Username}}" class="btn btn-primary">Ubah</a>
                              {{end}}
                              
                              <a href="/delete_user?username={{.Username}}" class="btn btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')">Hapus</a>
                          </td>
                      </tr>
                      {{end}}
                              </tbody>
                              </table>
                            </div>
                          </div>
              </div>
            </div>
          </div> 
        </section>
      </main>

    <!-- JAVASCRIPT FILES -->
    <script src="/../../js/jquery.min.js"></script>
    <script src="/../../js/bootstrap.min.js"></script>
    <script src="/../../js/jquery.sticky.js"></script>
    <script src="/../../js/click-scroll.js"></script>
    <script src="/../../js/custom.js"></script>
    <script src="/../../js/script.js"></script>
  </body>
 </html>
 