<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daftarkan User</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/../../css/bootstrap.min.css" rel="stylesheet">

    <link href="/../../css/bootstrap-icons.css" rel="stylesheet">

    <link href="/../../css/templatemo-festava-live.css" rel="stylesheet">

</head>

<body class>
    <main>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

        
          <!-- Boxicons CSS -->
          <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

        <!-- <body class> -->
          <!-- navbar -->
  
    
            <nav class="navbar">
              <div class="logo_item">
                <i class="bx bx-menu" id="sidebarOpen"></i>
                <!-- <img src="images/logo.png" alt=""></i> -->
                PENDAFTARAN PKL
                
              </div>
        
              <!-- <div class="search_bar">
                <input type="text" placeholder="Search" />
              </div> -->
        
              <div class="navbar_content">
                <i class='bx bx-sun' id="darkLight"></i>
               
              </div>
            </nav>
  
          
      
          <!-- sidebar -->
            
          <nav class="sidebar">
        
            <div class="menu_content">
              <ul class="menu_items">
                
                <div class="menu_title menu_menu"></div>
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="fas fa-home"></i>
                    </span>
                    <span class="navlink">Beranda</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
      
                  <ul class="menu_items submenu">
                    <a href="/home_admin" class="nav_link sublink">Beranda</a>
                    <a href="home_admin#section_2" class="nav_link sublink">Tentang</a>
                    <a href="home_admin#section_3" class="nav_link sublink">Syarat & Alur</a>
                  </ul>
                </li>
      
              <ul class="menu_items">
                <div class="menu_title menu_editor"></div>
                <!-- duplicate these li tag if you want to add or remove navlink only -->
  
                <li class="item">
                  <a href="/data_peserta" class="nav_link">
                    <span class="navlink_icon">
                      <i class="far fa-id-card"></i>
                    </span>
                    <span class="navlink">Data Peserta PKL</span>
                  </a>
                </li>
                      
              <li class="item">
                <a href="/register_admin" class="nav_link">
                  <span class="navlink_icon">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span class="navlink">Daftarkan Akun</span>
                </a>
              </li>
  
              <div class="menu_title menu_acc"></div>
              <li class="item">
                <a href="/profile_admin" class="nav_link">
                  <span class="navlink_icon">
                    <i class="fas fa-user-circle"></i>
                  </span>
                  <span class="navlink">Akun Saya</span>
                </a>
              </li>
  
                <li class="item">
                  <a href="/logout" onclick="return confirm('Apakah anda yakin ingin keluar?')" class="nav_link">
                    <span class="navlink_icon">
                      <i class="fas fa-user-times"></i>
                    </span>
                    <span class="navlink">Keluar</span>
                  </a>
                </li>
              <!-- Sidebar Open / Close -->
              <div class="bottom_content">
                <div class="bottom expand_sidebar">
                  <span> Expand</span>
                  <i class='bx bx-log-in' ></i>
                </div>
                <div class="bottom collapse_sidebar">
                  <span> Collapse</span>
                  <i class='bx bx-log-out'></i>
                </div>
              </div>
            </div>
          </nav>
          
            <!-- JavaScript -->
            <script src="/js/script.js"></script>
         
          <!-- </body> -->
      <!-- UBAH -->


        <section class="data-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10 mx-auto">
                        <!-- <form enctype="multipart/form-data" class="custom-form data-form mb-5 mb-lg-0" action="/register_admin" method="post" role="form"> -->
                        <form class="custom-form data-form mb-5 mb-lg-0" action="/register_admin" method="post" role="form">
                            <h2 class="text-center mb-4">Daftarkan Akun</h2>

                            <div class="data-form-body">
                              <label for="nim"><h7 class="text mb-4">NIM</label></h7>
                                <input type="text" class="form-control" name="nim"
                                    placeholder="" required>
                              
                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                      <label for="username"><h7 class="text mb-4">Username</label></h7>
                                        <input type="text" name="username" id="username"
                                            class="form-control" placeholder="" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                      <label for="password"><h7 class="text mb-4">Password</label></h7>
                                        <input type="password" name="password" id="password" class="form-control" placeholder=""
                                            required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 d-none">
                                      <label for="nama"><h7 class="text mb-4">Nama</label></h7>
                                        <input type="text" name="nama" id="nama" class="form-control" placeholder="">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 d-none">
                                      <label for="asal_instansi"><h7 class="text mb-4">Asal Instansi</label></h7>
                                        <input type="text" name="asal_instansi" id="asal_instansi" class="form-control" placeholder="" >
                                    </div>
                                </div>

                                <div class="data-form-body d-none"> 
                                    <font color="#F0F0F0">
                                    <label class="form-label" for="upload_file"> <h7 class="text mb-4">Upload Surat</label></h7>
                                    <input type="file" class="form-control" id="upload_file"  name="upload_file" accept=".pdf, .doc, .docx"/>
                                </font>
                            </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 d-none">
                                        <font color="#F0F0F0">
                                        <label for="mulai_pkl"><h7 class="text mb-4">Mulai PKL</label></h7>
                                        <input type="date" name="mulai_pkl" id="mulai_pkl"
                                            class="form-control" placeholder="">
                                        </font>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 d-none">
                                        <font color="#F0F0F0">
                                        <label for="selesai_pkl"><h7 class="text mb-4">Selesai PKL</label></h7>
                                        <input type="date" name="selesai_pkl" id="selesai_pkl" class="form-control" placeholder="">
                                        </font>
                                    </div>

                                    <!-- <div class="col-lg-6 col-md-6 col-12">
                                        <label for="status"><h7 class="text mb-4">Role</label></h7>
                                        <input type="text" name="role" id="role"
                                            class="form-control" placeholder="Role" value="2">
                                    </div> -->

                                    <div class="col-lg-6 col-md-6 col-12">
                                      <label for="respon"><h7 class="text mb-4">Respon</label></h7>
                                      <select id="respon" name="respon" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                          <option value="1" {{if eq .respon 1}}selected{{end}}>Pending</option>
                                          <option value="2" {{if eq .respon 2}}selected{{end}}>Accepted</option>
                                          <option value="3" {{if eq .respon 3}}selected{{end}}>Rejected</option>
                                      </select>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-12">
                                    <label for="status"><h7 class="text mb-4">Status PKL </label></h7>
                                    <select id="status" name="status" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                        <option value="0" {{if eq .status 0}}selected{{end}}>Tidak Aktif</option>
                                        <option value="1" {{if eq .status 1}}selected{{end}}>Aktif</option>
                                        <option value="2" {{if eq .status 2}}selected{{end}}>Selesai</option>
                                    </select>
                                </div>                              

                              <div class="ticket-form-body">
                                <label for="role"><h7 class="text mb-4">Role</label></h7>
                                <select id="role" name="role" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="2" {{if eq .role 1}}selected{{end}}>User</option>
                                    <option value="1" {{if eq .role 2}}selected{{end}}>Admin</option>
                                </select>
                                </div>

                                  </div>

                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        </section>
    </main>

 <!-- JAVASCRIPT FILES -->
 <script src="/../../js/jquery.min.js"></script>
 <script src="/../../js/bootstrap.min.js"></script>
 <script src="/../../js/jquery.sticky.js"></script>
 <script src="/../../js/click-scroll.js"></script>
 <script src="/../../js/custom.js"></script>
 <script src="/../../js/script.js"></script>
</body>
</html>
