<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Pendaftaran PKL</title>

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet" />

  <link href="/../../css/bootstrap.min.css" rel="stylesheet" />

  <link href="/../../css/bootstrap-icons.css" rel="stylesheet" />

  <link href="/../../css/templatemo-festava-live.css" rel="stylesheet" />


  <main>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body class>
  <!-- navbar -->

  <header>
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <!-- <img src="images/logo.png" alt=""></i> -->
        PENDAFTARAN PKL

      </div>

      <!-- <div class="search_bar">
              <input type="text" placeholder="Search" />
            </div> -->

      <div class="navbar_content">
        <!-- <i class="bi bi-grid"></i> -->
        <i class='bx bx-sun' id="darkLight"></i>
        <!-- <i class='bx bx-bell' ></i>
              <img src="images/profile.jpg" alt="" class="profile" /> -->
      </div>
    </nav>
  </header>


  <!-- sidebar -->

  <nav class="sidebar">

    <div class="menu_content">
      <ul class="menu_items">
        <div class="menu_title menu_menu"></div>
        <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
        <!-- start -->
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="fas fa-home"></i>
            </span>
            <span class="navlink">Beranda</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>

          <ul class="menu_items submenu">
            <!-- <a href="/login" class="nav_link sublink">Login</a> -->
            <a href="/home_user" class="nav_link sublink">Beranda</a>
            <a href="#section_1" class="nav_link sublink">Tentang</a>
            <a href="#section_1" class="nav_link sublink">Syarat & Alur</a>
          </ul>
        </li>
        <!-- end -->

        <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
        <!-- start -->
        <!-- <li class="item">
                <div href="#" class="nav_link submenu_item">
                  <span class="navlink_icon">
                    <i class="bx bx-grid-alt"></i>
                  </span>
                  <span class="navlink">Overview</span>
                  <i class="bx bx-chevron-right arrow-left"></i>
                </div>
    
                <ul class="menu_items submenu">
                  <a href="#" class="nav_link sublink">Nav Sub Link</a>
                </ul>
              </li>
            </ul> -->
        <!-- end -->

        <ul class="menu_items">
          <div class="menu_title menu_editor"></div>
          <!-- duplicate these li tag if you want to add or remove navlink only -->

          <li class="item">
            <a href="/profile_user" class="nav_link">
              <span class="navlink_icon">
                <i class="fas fa-user-circle"></i>
              </span>
              <span class="navlink">Akun Saya</span>
            </a>
          </li>

          <li class="item">
            <a href="/logout" onclick="return confirm('Apakah anda yakin ingin keluar?')" class="nav_link">
              <span class="navlink_icon">
                <i class="fas fa-user-times"></i>
              </span>
              <span class="navlink">Keluar</span>
            </a>
          </li>

          <!-- Sidebar Open / Close -->
          <div class="bottom_content">
            <div class="bottom expand_sidebar">
              <span> Expand</span>
              <i class='bx bx-log-in'></i>
            </div>
            <div class="bottom collapse_sidebar">
              <span> Collapse</span>
              <i class='bx bx-log-out'></i>
            </div>
          </div>
    </div>
  </nav>

  <!-- JavaScript -->
  <script src="/js/script.js"></script>
  </head>
</body>

<section class="hero-section" id="section_1">
  <div class="section-overlay"></div>

  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-12 mt-auto mb-5 text-center">
        <small>Mempersembahkan</small>

        <font color="white">
          <h1 class="text-mb-5">Portal Pendaftaran PKL</h1>
        </font>
      </div>

      <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
        <div class="date-wrap">
          <h5 class="text-white">
            <i class="custom-icon bi-clock me-2"></i>
            08.00 -<sup> </sup> 15.00,<sup> </sup> Senin - Jum'at
          </h5>
        </div>

        <div class="location-wrap mx-auto py-3 py-lg-0">
          <h5 class="text-white">
            <i class="custom-icon bi-geo-alt me-2"></i>
            Jakarta, Indonesia
          </h5>
        </div>

        <div class="social-share">
          <ul class="social-icon d-flex align-items-center justify-content-center">
            <span class="text-white me-3">Temukan Kami Di:</span>

            <li class="social-icon-item">
              <a href="https://www.facebook.com/UhamkaID/" class="social-icon-link">
                <span class="bi-facebook"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://twitter.com/UhamkaID" class="social-icon-link">
                <span class="bi-twitter"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://www.instagram.com/uhamkaid/" class="social-icon-link">
                <span class="bi-instagram"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://www.youtube.com/@HumasUhamka/" class="social-icon-link">
                <span class="bi-youtube"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="video-wrap">
          <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="video/UHAMKA.mp4" type="video/mp4" />

            Your browser does not support the video tag.
          </video>
        </div>
      </section> -->

  <section class="about-section section-padding" id="section_2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
          <div class="services-info">
            <h2 class="text-white mb-4">Praktik Kerja Lapangan</h2>

            <p class="text-white">
              Praktik Kerja Lapangan (PKL) adalah bentuk penyelenggaraan
              pendidikan dan pelatihan kejuruan yang diikuti oleh siswa
              dengan bekerja secara langsung di dunia usaha atau dunia
              industri (DU/DI), secara sistematik dan terarah dengan
              supervisi yang kompeten di bidangnya dengan tujuan memperoleh
              pengalaman dan kecakapan penguasaan keahlian di suatu bidang
              hingga mencapai suatu tingkat keahlian profesional tertentu.
              UHAMKA akan membantu siswa dalam melaksanakan program magang
              kerja dengan tujuan utama
            </p>

            <h6 class="text-white mt-4">
              Memperkenalkan Dunia Usaha/Industri
            </h6>

            <p class="text-white">
              Saat melalui masa praktik kerja lapangan siswa akan
              diperkenalkan pada dunia usaha/industri, sehingga setelah
              lulus masa PKL siswa akan mendapat ilmu dan pandangan baru
              seputar dunia usaha/industri.
            </p>

            <h6 class="text-white mt-4">
              Menumbuhkan Sikap Profesionalisme
            </h6>

            <p class="text-white">
              Siswa akan dibimbing agar memiliki sikap profesionalisme
              sehingga di masa yang akan datang siswa dapat terjun ke dalam
              dunia industri dengan persiapan yang matang.
            </p>

            <h6 class="text-white mt-4">
              Meningkatkan Daya Kreasi dan Produktivitas
            </h6>

            <p class="text-white">
              Daya Kreasi dan Produktivitas akan ditingkatkan melalui kerja
              sama tim, siswa akan diberi kepercayaan untuk menyelesaikan
              proyek yang membantu UHAMKA mempertahankan kualitasnya sebagai
              kampus yang beprestasi nan unggul.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="about-text-wrap">
            <img src="images/uhamkapkl.jpeg" class="about-image img-fluid" />
            <br>
            <div class="about-text-wrap">
              <img src="images/murid.webp" class="about-image img-fluid" />
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="section_3" class="banner-section section-padding zoom">
    <div class="mb-3">
      <h2 class="text-white fw-bolder text-center"> "Kembangkan Kemampuan Diri dengan Magang di UHAMKA" </h2>
      <hr class="mb-4 border-warning mx-auto" style="border: 2px solid #f3f6fb; width: 30px; opacity: 1;">
    </div>
    </br>
    <div class="row hero-container">
      <a class="col-sm-12 col-md-4 my-2" href="/images/bannernie.png" target="_blank">
        <img src="/images/bannernie.png" class="banner-zoom img-fluid shadow rounded" alt="Responsive image">
      </a>
      <a class="col-sm-12 col-md-4 my-2" href="/images/SyaratUmum.png" target="_blank">
        <img src="/images/SyaratUmum.png" class="banner-zoom img-fluid shadow rounded" alt="Responsive image">
      </a>
      <a class="col-sm-12 col-md-4 my-2" href="/images/SyaratAdministrasi.png" target="_blank">
        <img src="/images/SyaratAdministrasi.png" class="banner-zoom img-fluid shadow rounded" alt="Responsive image">
      </a>
    </div>

    <br>
    <center>
      <h2 class="text-white fw-bolder text-center"> Alur Magang</h2>
      <hr class="mb-4 border-warning mx-auto" style="border: 2px solid #f3f6fb; width: 30px; opacity: 1;">
      <a class="col-sm-12 col-md-4 my-2" href="/images/ALURPKL.png" target="_blank" align="center">
        <img src="/images/ALURPKL.png" class="center img-fluid shadow rounded" alt="Responsive image">
      </a>
    </center>

  </section>




  </main>

  <!-- <footer class="site-footer">
      <div class="site-footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12">
              <h3 class="text-white mb-lg-0">Temukan Kami Di</h3>
            </div>

            <div
              class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center"
            >
              <ul class="social-icon d-flex justify-content-lg-end">
                <li class="social-icon-item">
                  <a
                    href="https://www.facebook.com/UhamkaID/"
                    class="social-icon-link"
                  >
                    <span class="bi-facebook"></span>
                  </a>
                </li>

                <li class="social-icon-item">
                  <a
                    href="https://twitter.com/UhamkaID"
                    class="social-icon-link"
                  >
                    <span class="bi-twitter"></span>
                  </a>
                </li>

                <li class="social-icon-item">
                  <a
                    href="https://www.instagram.com/uhamkaid/"
                    class="social-icon-link"
                  >
                    <span class="bi-instagram"></span>
                  </a>
                </li>

                <li class="social-icon-item">
                  <a
                    href="https://www.youtube.com/@HumasUhamka/"
                    class="social-icon-link"
                  >
                    <span class="bi-youtube"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 mb-4 pb-2">
            <h5 class="site-footer-title mb-3">Link</h5>
            <ul class="site-footer-links">
              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">Halaman Utama</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#section_2" class="site-footer-link">Tentang</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#section_3" class="site-footer-link">Jadwal</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#section_4" class="site-footer-link">Kontak</a>
              </li>

              <li class="site-footer-link-item">
                <a href="/login" class="site-footer-link">Login</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
            <h5 class="site-footer-title mb-3">Apakah ada pertanyaan?</h5>

            <p class="text-white d-flex mb-1">
              <a href="tel: 090-080-0760" class="site-footer-link">
                +62(021) 7394451
              </a>
            </p>

            <p class="text-white d-flex">
              <a href="mailto:hello@company.com" class="site-footer-link">
                info@uhamka.ac.id
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
            <h5 class="site-footer-title mb-3">Lokasi</h5>

            <p class="text-black d-flex mt-3 mb-2">
              Jl. Tanah Merdeka No.20, RT.11/RW.2, Rambutan, Kec. Ciracas, Kota
              Jakarta Timur, Daerah Khusus Ibukota Jakarta 13830
            </p>

            <a
              class="link-fx-1 color-contrast-higher mt-3"
              href="https://goo.gl/maps/D83t1BFdr2RekWtt7"
            >
              <span>Our Maps</span>
              <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="16" cy="16" r="15.5"></circle>
                  <line x1="10" y1="18" x2="16" y2="12"></line>
                  <line x1="16" y1="12" x2="22" y2="18"></line>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="site-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-12 mt-5">
              <p class="copyright-text">Copyright © 2023 UHAMKA</p>
            </div>

            <div class="col-lg-8 col-12 mt-lg-5">
              <ul class="site-footer-links">
                <li class="site-footer-link-item">
                  <a href="#" class="site-footer-link"
                    >Terms &amp; Conditions</a
                  >
                </li>

                <li class="site-footer-link-item">
                  <a href="#" class="site-footer-link">Privacy Policy</a>
                </li>

                <li class="site-footer-link-item">
                  <a href="#" class="site-footer-link">Your Feedback</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

  <!--

T e m p l a t e M o

-->


  <!-- JAVASCRIPT FILES -->
  <script src="/../../js/jquery.min.js"></script>
  <script src="/../../js/bootstrap.min.js"></script>
  <script src="/../../js/jquery.sticky.js"></script>
  <script src="/../../js/click-scroll.js"></script>
  <script src="/../../js/custom.js"></script>
  <script src="/../../js/script.js"></script>
  </body>

</html>