<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pendaftaran PKL</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/templatemo-festava-live.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

      
<!-- UBAH -->


  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<body class>
  <!-- navbar -->

  <!--  <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/home">
            <img
              src="https://www.uhamka.ac.id/static/media/UhamaLogo2.d4e8b86c517ad991c800.png"
              width="auto"
              height="65px"
              class="d-inline-block align-top"
              alt=""
            />
          </a> -->

  <header>
    <nav class="navbar">
        <div class="logo_item">
          <!-- <a class="navbar-brand" href="/home"> -->
          <i class="bx bx-menu" id="sidebarOpen"></i>
          <img src="/../../images/logo.png" alt=""></i>PKL UHAMKA
      </div>

      <!-- <div class="search_bar">
        <input type="text" placeholder="Search" />
      </div> -->

      <div class="navbar_content">
        <!-- <i class="bi bi-grid"></i> -->
        <i class='bx bx-sun' id="darkLight"></i>
        <!-- <i class='bx bx-bell' ></i>
        <img src="images/profile.jpg" alt="" class="profile" /> -->
      </div>
    </nav>
  </header>
          <!-- sidebar -->
  
          
          <nav class="sidebar">
        
            <div class="menu_content">
              <ul class="menu_items">
                <div class="menu_title menu_menu"></div>
                <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
                <!-- start -->
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="fas fa-home"></i>
                    </span>
                    <span class="navlink">Halaman Utama</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
      
                  <ul class="menu_items submenu">
                    <!-- <a href="/login" class="nav_link sublink">Login</a> -->
                    <a href="/home" class="nav_link sublink">Halaman Utama</a>
                    <a href="/home#section_2" class="nav_link sublink">Tentang</a>
                    <a href="/home#section_3" class="nav_link sublink">Syarat & Alur</a>
                  </ul>
                </li>

      
              <ul class="menu_items">
                <div class="menu_title menu_editor"></div> 
         
                <li class="item">
                  <a href="/login" class="nav_link">
                    <span class="navlink_icon">
                      <i class="fas fa-user-check"></i>
                    </span>
                    <span class="navlink">Masuk</span>
                  </a>
                </li>
            
              <!-- Sidebar Open / Close -->
              <div class="bottom_content">
                <div class="bottom expand_sidebar">
                  <span> Expand</span>
                  <i class='bx bx-log-in' ></i>
                </div>
                <div class="bottom collapse_sidebar">
                  <span> Collapse</span>
                  <i class='bx bx-log-out'></i>
                </div>
              </div>
            </div>
          </nav>

          <script src="/js/script.js"></script>
      </head>
      </body>


        <section class="ticket-section section-padding">


            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-10 mx-auto">
                        <form class="custom-form ticket-form mb-5 mb-lg-0" action="/login" method="post" role="form">
                            <h2 class="text-center mb-4">Login</h2>

                            <div class="ticket-form-body">
                                
                                <input type="text" class="form-control" name="nim" id="nim" placeholder="NIM" required>
                                    <!-- placeholder="Ph 085-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required=""> -->
                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="username" id="username"
                                            class="form-control" placeholder="Username" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                                            required>
                                    </div>
                                     <!-- <font color="#F0F0F0">
                                    <input type="radio" id="user" name="role" value="user" checked>
                                    <label for="user">User</label>
                                    
                                    <input type="radio" id="admin" name="role" value="admin">
                                    <label for="admin">Admin</label><br> -->

                                    <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                        <button type="submit" class="form-control">Submit
                                </div>

                                </form>
                            </div>
                        </div>
                </section>
            </main>
        
        
                
                    <!--
                
                T e m p l a t e M o
                
                -->
                
                    <!-- JAVASCRIPT FILES -->
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="/js/jquery.sticky.js"></script>
                    <script src="/js/click-scroll.js"></script>
                    <script src="/js/custom.js"></script>
                  </body>
                </html>
                